<ion-header>
  <ion-toolbar>
    <ion-title>
      Hjem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full"
  (click)="downloadAndOpen(dummyPDFURL1)">Last ned PDF 1</ion-button>

  <ion-button expand="full"
  (click)="downloadAndOpen(dummyPDFURL2)">Last ned PDF 2</ion-button>

  <ion-button expand="full"
  (click)="downloadAndOpen(dummyPDFURL3)">Last ned PDF 3</ion-button>

  <ion-button expand="full"
  (click)="openLocalPDF()">Vis Lokal PDF</ion-button>


</ion-content>
